/*
 * Facts Section
 */

.facts-section {
	z-index: 2;
	background-image: -webkit-linear-gradient(to bottom, rgba(256,256,256,0) 0%, var(--light) 20%), url('/media/texture-grid.png');
	background-image: -moz-linear-gradient(to bottom, rgba(256,256,256,0) 0%, var(--light) 20%), url('/media/texture-grid.png');
	background-image: linear-gradient(to bottom, rgba(256,256,256,0) 0%, var(--light) 20%), url('/media/texture-grid.png');
}

.facts-section .point {
	margin-top: 30px;
}

.facts-section .point .description {
	position: relative;
	margin-top: 10px;
}

.facts-section .point .description .p {
	margin-top: 10px;
}

.facts-section .point .description .p:first-child {
	margin-top: 0;
}

@media( min-width: 640px )  {}

@media( min-width: 1040px ) {
	.facts-section .point {
		margin-top: 70px;
	}
	
	.facts-section .point .description {
		margin-top: 0;
	}
}
	
@media( min-width: 1380px ) {}