/*
 * Process Section
 */

.process-section {
	z-index: 2;
	background-image: -webkit-linear-gradient(to bottom, rgba(256,256,256,0) 0%, var(--light) 25%, var(--light) 80%, rgba(256,256,256,0) 100%), url('/media/texture-grid.png');
	background-image: -moz-linear-gradient(to bottom, rgba(256,256,256,0) 0%, var(--light) 25%, var(--light) 80%, rgba(256,256,256,0) 100%), url('/media/texture-grid.png');
	background-image: linear-gradient(to bottom, rgba(256,256,256,0) 0%, var(--light) 25%, var(--light) 80%, rgba(256,256,256,0) 100%), url('/media/texture-grid.png');
}

.process-section .logo {
	margin-top: 30px;
}

.process-section .point {
	position: relative;
	margin-top: 50px;
}

.process-section .point .heading {
	position: relative;
	padding: 0 8.33333%;
}

.process-section .point .heading span {
	position: relative;
	z-index: 3;
}

.process-section .point .heading:before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 2px;
	left: -200px;
	width: 200px;
	height: 32px;
	background-color: var(--teal);
}

.process-section .point .heading:after {
	content: '';
	position: absolute;
	z-index: 2;
	top: -6px;
	left: -10px;
	width: 150px;
	height: 32px;
	background-color: var(--teal);
	box-shadow: -2px 2px 4px 0 rgba(0,0,0,0.2);
}

.process-section .point:nth-child(1) .heading:before { background-color: var(--blue) }
.process-section .point:nth-child(1) .heading:after {
	background: -moz-linear-gradient(left, var(--blue) 0%, var(--teal) 50%, var(--green) 100%);
	background: -webkit-linear-gradient(left, var(--blue) 0%,var(--teal) 50%,var(--green) 100%);
	background: linear-gradient(to right, var(--blue) 0%,var(--teal) 50%,var(--green) 100%);
}

.process-section .point:nth-child(2) .heading:before { background-color: var(--neutral) }
.process-section .point:nth-child(2) .heading:after {
	background: -moz-linear-gradient(left, var(--neutral) 0%, var(--dark) 100%);
	background: -webkit-linear-gradient(left, var(--neutral) 0%, var(--dark) 100%);
	background: linear-gradient(to right, var(--neutral) 0%, var(--dark) 100%);
}
.process-section .point:nth-child(3) .heading:before { background-color: var(--off-light) }
.process-section .point:nth-child(3) .heading:after {
	background: -moz-linear-gradient(left, var(--off-light) 0%, var(--neutral) 100%);
	background: -webkit-linear-gradient(left, var(--off-light) 0%, var(--neutral) 100%);
	background: linear-gradient(to right, var(--off-light) 0%, var(--neutral) 100%);
}

.process-section .point .excerpt {
	position: relative;
	z-index: 2;
	margin-top: 30px;
}

.process-section .point .excerpt .p {
	position: relative;
	z-index: 1;
	margin-top: 10px;
}

.process-section .point .excerpt .p:first-child {
	margin-top: 0;
}

.process-section .point .excerpt .p:before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 2px;
	left: -20px;
	width: 12px;
	height: 12px;
	background-size: contain;
	background-position: top right;
	background-repeat: no-repeat;
	background-image: url('/media/bullet-ring.svg');
}

@media( min-width: 640px )  {
	.process-section .point {
		margin-top: 70px;
	}

	.process-section .point .heading {
		padding: 0 4.13335%;
	}

	.process-section .point .heading:before {
		top: 0px;
		left: -280px;
		width: 280px;
		height: 38px;
	}

	.process-section .point .heading:after {
		top: -8px;
		left: -15px;
		width: 180px;
		height: 38px;
	}

	.process-section .point .description {
		position: relative;
		z-index: 2;
		margin-top: 40px;
	}

	.process-section .point .description .p {
		margin-top: 20px;
	}

	.process-section .point .description .p:first-child {
		margin-top: 0;
	}

	.process-section .point .excerpt {
		margin-top: 40px;
	}

	.process-section .point .excerpt .p {
		width: 66.66667%;
		margin-top: 20px;
	}

	.process-section .point .excerpt .p:before {
		top: 3px;
		left: -32px;
		width: 12px;
		height: 12px;
	}
}


@media( min-width: 1040px ) {
	.process-section .point {
		margin-top: 120px;
	}

	.process-section .point .heading {
		padding: 0;
	}

	.process-section .point .heading:before {
		top: 5px;
		left: -300px;
		width: 280px;
		height: 40px;
	}

	.process-section .point .heading:after {
		top: -8px;
		left: -40px;
		width: 200px;
		height: 40px;
	}

	.process-section .point .description {
		margin-top: 70px;
	}

	.process-section .point .excerpt {
		margin-top: 70px;
	}

	.process-section .point .excerpt .p {
		width: auto;
	}

	.process-section .point .excerpt .p:before {
		top: 2px;
		left: -32px;
		width: 16px;
		height: 16px;
	}

}

@media( min-width: 1380px ) {
	.process-section .point {
		margin-top: 200px;
	}

	.process-section .point .heading:before {
		top: 10px;
		left: -740px;
		width: 710px;
		height: 40px;
	}

	.process-section .point .heading:after {
		top: -10px;
		left: -50px;
		width: 240px;
		height: 48px;
	}


	.process-section .point .excerpt .p:before {
		top: 5px;
		left: -32px;
		width: 16px;
		height: 16px;
	}
}
